@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to GameStart</h1>
<h1 class="display-3">Power to the Gamers!</h1>

<div class="table-responsive">
<table class="table table-sm table-hover">
  <thead>
    <tr>

      <th scope="col">Platform</th>
      <th scope="col">MSRP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Xbox Games</td>
      <td>$49.99</td>
    </tr>
    <tr>
      <td>Playstation Games</td>
      <td>$59.99</td>
    </tr>
  </tbody>
</table>
</div>